.repo_item {
	background-color: #FFFFFF;
	border-radius: 6px;
	padding: 24px 32px;
	margin-top: 24px;
}
.repo_link {
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #0064EB;
}
.repo_description {
	margin-top: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}