.repo_item {
	background-color: #ffffff;
	border-radius: 6px;
	padding: 24px 32px;
	overflow: hidden;
}
.repo_link {
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #0064eb;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.repo_description {
	min-height: 19px;
	margin-top: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	/* white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis; */
}
@media (max-width: 650px) {
	.repo_item {
		padding: 18px 24px;
	}
	.repo_link {
		font-size: 20px;
	}
	.repo_description {
		margin-top: 12px;
	}
}
@media (max-width: 450px) {
	.repo_item {
		padding: 10px;
		overflow: hidden;
	}
	.repo_link {
		font-size: 16px;
	}
	.repo_description {
		font-size: 14px;
	}
}
