.main {
	margin: 0 auto;
	max-width: 1366px;
	height: calc(100vh - 76px);
	padding: 28px 56px;
	display: flex;
	gap: 87px;
}

@media (max-width: 940px) {
	.main {
		gap: 30px;
		padding: 30px;
	}
}
@media (max-width: 840px) {
	.main {
		height: auto;
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 450px) {
	.main {
		padding: 14px;
	}
}