.user_repositories {
	width: 100%;
}
.repositories_list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
	color: #000000;
}
@media (max-width: 650px) {
	.repositories_list {
		font-size: 28px;
	}
}
@media (max-width: 450px) {
	.repositories_list {
		gap: 16px;
		font-size: 26px;
	}
}