.user__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 12px;
}
.user__avatar {
	width: 280px;
	height: 280px;
	display: flex;
}
.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.name {
	margin-top: 12px;
	text-align: left;
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 130%;
	color: #000000;
}
.login {
	margin-top: 12px;
	text-align: left;
	font-weight: 600;
	font-size: 26px;
	line-height: 130%;
}
.login__link {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #0064eb;
	text-decoration: none;
}
.follow {
	margin-top: 25px;
	display: flex;
	gap: 16px;
}
.followers {
	padding-left: 32px;
	position: relative;
	flex-shrink: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.followers::before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../../assets/followers-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.following {
	padding-left: 32px;
	position: relative;
	flex-shrink: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.following::before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../../assets/following-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
}
@media (max-width: 840px) {
	.user__info {
		padding: 0;
	}
}
@media (max-width: 450px) {
	.user__avatar {
		width: 100%;
		height: 100%;
		padding: 0 30px;
	}
	.name {
		font-size: 24px;
	}
	.login {
		margin: 0;
	}
	.follow {
		margin-top: 8px;
		flex-direction: column;
		gap: 8px;
	}
}
